<!-- users/templates/users/password_reset_done.html -->
{% extends 'parts/base.html' %}

{% block title %}Password Reset Email Sent - Bomdels{% endblock %}

{% block content %}
<div class="auth-form-container">
    <h2 class="mb-4 text-center">Password Reset Email Sent</h2>
    
    <div class="alert alert-info">
        <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
    </div>
    
    <div class="text-center mt-4">
        <a href="{% url 'login' %}" class="btn btn-primary">Return to Login</a>
    </div>
</div>
{% endblock %}