<!-- users/templates/users/register.html -->
{% extends 'parts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register - Bomdels{% endblock %}

{% block content %}
<div class="auth-form-container">
    <h2 class="mb-4 text-center">Create an Account</h2>
    
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        
        <div class="d-grid mt-4 mb-3">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        
        <div class="text-center">
            Already have an account? <a href="{% url 'login' %}">Login</a>
        </div>
    </form>
</div>
{% endblock %}